/* line 3, src/reset.scss */

html {
  font-size: 62.5%;
  line-height: 1.3em;
}

/* line 4, src/reset.scss */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 1em;
  color: #333333;
  font-weight: 300;
}

/* line 6, src/reset.scss */

a {
  text-decoration: none;
}

/* line 8, src/reset.scss */

a img {
  border: 0;
}

/* line 10, src/reset.scss */

a:hover {
  text-decoration: underline;
}

/* line 2, src/columns.scss */

.column {
  display: inline-block;
  margin: 0 0 0 2.5%;
  vertical-align: top;
}

/* line 3, src/columns.scss */

.column:first-child {
  margin: 0;
}

/*
HTML columns : <div> <div class="column column-50"> <h1>50</h1> </div><!-- --><div class="column column-25"> <h1>25</h1> </div><!-- --><div class="column column-25"> <h1>25</h1> </div> </div>
*/

/* line 34, src/columns.scss */

.column-80 {
  width: 79.5%;
}

/* line 35, src/columns.scss */

.column-75 {
  width: 74.3750000000625%;
}

/* line 36, src/columns.scss */

.column-70 {
  width: 65.83333332675%;
}

/* line 37, src/columns.scss */

.column-60 {
  width: 59.000000000099995%;
}

/* line 38, src/columns.scss */

.column-50 {
  width: 48.75%;
}

/* line 39, src/columns.scss */

.column-40 {
  width: 38.5%;
}

/* line 40, src/columns.scss */

.column-30 {
  width: 31.666666663499996%;
}

/* line 41, src/columns.scss */

.column-25 {
  width: 23.125%;
}

/* line 42, src/columns.scss */

.column-20 {
  width: 18%;
}

/* line 3, src/main.scss */

h1,
.h1-like {
  margin: 30px 0 20px 0;
}

/* line 4, src/main.scss */

h2,
.h2-like {
  margin: 30px 0 20px 0;
}

/* line 5, src/main.scss */

h3,
.h3-like {
  margin: 30px 0 20px 0;
}

/* line 6, src/main.scss */

h4,
.h4-like {
  margin: 20px 0 10px 0;
}

/* line 7, src/main.scss */

h5,
.h5-like {
  margin: 20px 0 10px 0;
}

/* line 8, src/main.scss */

.introduction {
  margin: 10px 0 20px 0;
}

/* line 9, src/main.scss */

p,
p.bodytext {
  margin: 10px 0 20px 0;
}

/* line 10, src/main.scss */

td p,
td p.bodytext {
  margin: 0;
}

/* line 11, src/main.scss */

ul {
  margin: 0;
  padding: 10px 0 10px 0;
}

/* line 13, src/main.scss */

ul li {
  margin: 10px 0 10px 0;
}

/* line 18, src/main.scss */

p,
li,
td,
th,
textarea,
caption,
pre,
blockquote,
label,
input,
select,
textarea {
  font-size: 1.6em;
  line-height: 1.3em;
}

/* line 19, src/main.scss */

li li,
li p,
td p,
th p,
li h1,
li .h1-like,
li h2,
li .h2-like,
li h3,
li .h3-like,
li h4,
li .h4-like,
li h5,
li .h5-like,
li h6,
li .h6-like,
button {
  font-size: 100%;
}

/* line 20, src/main.scss */

input,
select,
textarea {
  font-family: Arial, sans-serif;
}

/* line 21, src/main.scss */

h1,
.h1-like,
h2,
.h2-like,
h3,
.h3-like,
h4,
.h4-like,
.introduction,
h5,
.h5-like {
  line-height: 1em;
}

/* line 22, src/main.scss */

h1,
.h1-like {
  font-size: 4.2em;
  line-height: 1.3em;
}

/* line 23, src/main.scss */

h2,
.h2-like,
.introduction {
  font-size: 3.0em;
}

/* line 24, src/main.scss */

h3,
.h3-like {
  font-size: 2.2em;
}

/* line 25, src/main.scss */

h4,
.h4-like {
  font-size: 1.6em;
}

/* line 26, src/main.scss */

h5,
.h5-like {
  font-size: 1.5em;
}

/* line 27, src/main.scss */

h6,
.h6-like {
  font-size: 1.4em;
}

/* line 33, src/main.scss */

.page {
  margin: 0 auto;
  width: 990px;
}

@media screen and (min-width: 0px) {
  /* line 33, src/main.scss */

  .page {
    width: 1200px;
    max-width: 100%;
  }
}

/* line 35, src/main.scss */

a {
  color: #bc2422;
}

/* line 37, src/main.scss */

.align-center {
  text-align: center;
}

/* line 39, src/main.scss */

hr {
  margin: 0 auto;
  border: none;
  height: 2px;
  background-color: #333333;
}

/* line 40, src/main.scss */

hr.clear {
  clear: both;
  height: 0px;
}

/* line 42, src/main.scss */

.nav {
  display: block;
  margin: 0;
  padding: 0;
}

/* line 9, src/mixins.scss */

.nav li {
  display: inline-block;
  margin: 5px;
  padding: 0;
}

/* line 46, src/main.scss */

.content {
  margin: 0 auto;
  width: 990px;
}

@media screen and (min-width: 0px) {
  /* line 46, src/main.scss */

  .content {
    width: 1200px;
    max-width: 100%;
  }
}

/* line 1, src/powermail.scss */

.tx_powermail_pi1_form {
  text-align: right;
}

/* line 2, src/powermail.scss */

.tx_powermail_pi1_form fieldset {
  border: 0;
}

/* line 3, src/powermail.scss */

.tx_powermail_pi1_form .tx_powermail_line {
  clear: both;
  display: block;
  position: relative;
  margin: 10px auto;
  max-width: 600px;
}

/* line 4, src/powermail.scss */

.tx_powermail_pi1_form label {
  display: inline-block;
  width: 24%;
  padding: 4px 1%;
  vertical-align: top;
  font-size: 2em;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
}

/* line 6, src/powermail.scss */

.tx_powermail_pi1_form .powermail_mandatory {
  margin-left: 5px;
}

/* line 7, src/powermail.scss */

.tx_powermail_pi1_form textarea {
  height: 80px;
}

/* line 8, src/powermail.scss */

.tx_powermail_pi1_form input[type="text"],
.tx_powermail_pi1_form input[type="email"],
.tx_powermail_pi1_form input[type="password"],
.tx_powermail_pi1_form input[type="submit"],
.tx_powermail_pi1_form select,
.tx_powermail_pi1_form textarea {
  position: relative;
  padding: 7px 1%;
  width: 70%;
  border: 1px solid #333333;
  background-color: white;
  text-align: left;
}

/* line 14, src/powermail.scss */

.tx_powermail_pi1_form select {
  width: 72.4%;
  cursor: pointer;
}

/* line 15, src/powermail.scss */

.tx_powermail_pi1_form input[type="submit"] {
  width: auto;
  cursor: pointer;
  font-size: 2em;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
}

/* line 17, src/powermail.scss */

.tx_powermail_pi1_form input[type="text"]:focus,
.tx_powermail_pi1_form input[type="email"]:focus,
.tx_powermail_pi1_form input[type="password"]:focus,
.tx_powermail_pi1_form textarea:focus {
  -webkit-box-shadow: 0 0 3px #aad4ff;
  box-shadow: 0 0 3px #aad4ff;
  outline: 0;
}

/* line 21, src/powermail.scss */

.tx_powermail_pi1_form input[type="text"].invalid,
.tx_powermail_pi1_form input[type="email"].invalid,
.tx_powermail_pi1_form input[type="password"].invalid,
.tx_powermail_pi1_form textarea.invalid {
  -webkit-box-shadow: 0 0 3px #e04831;
  box-shadow: 0 0 3px #e04831;
}

/* line 27, src/powermail.scss */

.error {
  padding: 3px 1px 5px 1px;
  height: auto;
  background-color: #e04831;
  z-index: 10;
  color: white;
}

/* line 29, src/powermail.scss */

.error p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

/* line 30, src/powermail.scss */

.error em {
  display: block;
  position: absolute;
  bottom: -10px;
  left: 5px;
  width: 0;
  height: 0;
  border: 10px solid;
  border-bottom: 0 none;
  border-color: #e04831 transparent transparent;
}

@media screen and (min-width: 0px) {
  /* line 3, src/mediaqueries.scss */

  .csc-textpic-imagewrap,
  img {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 764px) {
  /* line 9, src/mediaqueries.scss */

  .column {
    display: block;
    width: auto !important;
    margin: 0 !important;
  }
}

/*# sourceMappingURL=main.css.map */