////
/// Headings
///
/// @group Base
/// @author Inouit
////

/// Contents
li { margin: 5px 0; }
p { margin: 15px 0; }
p, li, td, th, textarea, caption, pre, blockquote, label, input, select, textarea { font-size: 1.4em; line-height: 1.7em; }
td p, td .bodytext { margin: 0; }
