// ## Text
body { font-weight: $fw-regular; color: $black; }

// Text's margin & size

// Headings
h1, h2, h3, h4, h5, h6 { line-height: 1em; font-weight: $fw-bold; }
%h1 { margin: 25px 0;
  font-size: 3.5em; }
%h2 { margin: 25px 0;
  font-size: 2.4em; }
%h3 {
  margin: 25px 0;
  font-size: 2em; }
%h4 { margin: 20px 0;
  font-size: 1.8em;  }
%h5 { margin: 20px 0;
  font-size: 1.6em; }
%h6, p, .bodytext { margin: 15px 0;
  font-size: 1.4em; }

h1, .h1-like { @extend %h1; }
h2, .h2-like { @extend %h2; }
h3, .h3-like { @extend %h1; }
h4, .h4-like { @extend %h1; }
h5, .h5-like { @extend %h1; }
h6, .h6-like { @extend %h1; }

// Contents
td p, td .bodytext { margin: 0; }
ul {
  @extend %slice-with-margin;

  li { margin: 5px 0; }
}
p, li, td, th, textarea, caption, pre, blockquote, label, input, select, textarea { font-size: 1.4em; line-height: 1.7em; }

.important { font-size: 2.4em; }
.introduction { font-size: 1.7em; }

// Alignment
.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }
.align-justify { text-align: justify; }

// Use class `page` to set the max-width of the website
.page { @include page; }

// ## Navigation
.nav { @include nav; }

// Apply max-width on image
.csc-textpic-imagewrap, //Typo3CMS specific
img { max-width: 100%; height: auto;}
