//  ### margin for default slice
.slice-with-margin, 
%slice-with-margin {  margin: $gutter 0; }

// #columns
// ## container
$border-color: $grey;
$column-gutter: $gutter;
.columns { 
  background-repeat: no-repeat;
  
  &.top-border { border-top: 1px solid $border-color; }
  &.bottom-border { border-bottom: 1px solid $border-color; }
  &.left-border { border-left: 1px solid $border-color; }
  &.right-border { border-right: 1px solid $border-color; }
  &.slice-with-margin { margin: 30px 0; }
  &.extended { margin-right: -30px; margin-left: -30px; padding-right: 30px; padding-left: 30px; }
}

// ## column
.column {
  @include inline-block; 

  background-repeat: no-repeat; 
  vertical-align: top;

  &:first-child > .column-content { padding-left: 0 !important; }
  &:last-child > .column-content { padding-right: 0 !important; }
  &.column-with-padding {
    > .column-content { padding-right: ($column-gutter/2); padding-left: ($column-gutter/2); }
    // If you want to make first element without top margin and last element without bottom margin, uncomment those lines
    .csc-header:first-child > *,
    .csc-default:first-child > *,
    > :first-child { margin-top: inherit; }
    .csc-default:last-child > *,
    > :last-child { margin-bottom: inherit; }
  }
  
  > .column-content { padding-right: 0; padding-left: 0; background-repeat: no-repeat; }
  // If you want to make first element without top margin and last element without bottom margin, uncomment those lines
  .csc-header:first-child > *,
  .csc-default:first-child > *,
  > :first-child { margin-top: 0; }
  .csc-default:last-child > *,
  > :last-child { margin-bottom: 0; }
  .separation-border > &+& > .column-content { border-left: 1px solid $border-color; }
  .separation-border > &.column-with-padding > .column-content { padding-right: $column-gutter; padding-left: $column-gutter; }

  @media screen and (max-width: 764px) {
    // Reset layout to one column
    display: block; margin: 0 !important; width: auto !important;
  }
}

.column-90 { width: 90%; }
.column-80 { width: 80%; }
.column-75 { width: 75%; }
.column-70 { width: 70%; }
.column-66 { width: 100% * 2/3; }
.column-60 { width: 60%; }
.column-50 { width: 50%; }
.column-40 { width: 40%; }
.column-33 { width: 100% * 1/3; }
.column-30 { width: 30%; }
.column-25 { width: 25%; }
.column-20 { width: 20%; }
.column-10 { width: 10%; }
