// ## Reset
// Reset font-size for easier use : 1.6em = 16px
html { font-size: 62.5%; line-height: 1.3em; }
body {
  margin: 0; padding: 0;
  font-family: $font; font-size: 1em; font-weight: $fw-regular; color: $black; }

// ## Links
button,
a {
  text-decoration: none; color: $link-color;

  &:hover { text-decoration: underline; }

  img { border: none; }
}

// Reset buttons
button { display: inline; margin: 0; border: none; padding: 0; background-color: transparent; outline: none; cursor: pointer; }

// Text's margin & size
h1, .h1-like {margin: 25px 0;
  font-size: 3.5em; }
h2, .h2-like { margin: 25px 0; } h3,
.h3-like {
  margin: 25px 0;
  font-size: 1.9em; }
h4, .h4-like { margin: 20px 0; } h5,
.h5-like {
  margin: 20px 0;
  font-size: 1.6em; }
h6, .h6-like, p, .bodytext { margin: 15px 0; }
td p, td .bodytext { margin: 0; }
ul {
  @extend %slice-with-margin;

  li { margin: 5px 0; }
}
p, li, td, th, textarea, caption, pre, blockquote, label, input, select, textarea { font-size: 1.4em; line-height: 1.7em; }
blockquote p, td p, th p, li li, li p, li h1, li .h1-like, li h2, li .h2-like, li h3, li .h3-like, li h4, li .h4-like, li h5, li .h5-like, li h6, li .h6-like, button { font-size: 100%; }
input, select, textarea { font-family: $font; }
h2, .important { font-size: 2.4em; } h4,
.introduction { font-size: 1.7em; }
h6 { font-size: 1.4em; }
h1, h2, h3, h4, h5, h6 { line-height: 1em; font-weight: $fw-bold; }

// ## Separator
hr { @extend %slice-with-margin; border: none; height: 1px; background-color: $grey; }
.clear { clear: both;  height: 0; }
