////
/// Sizes, colors, fonts and Timings
/// Here are global variables
/// used to configure site wide properties
///
/// @group Configuration
/// @author Inouit
////


/// Max width of the slice ( the max background size exceeding the content size )
$slice-width  : 1400px;

/// Max size of the page
$max        : 1200;
$max-width   : $max * 1px;
$page-padding: 30;

/// Gutter width for the grid system
$gutter     : 30px;

/// Colors
$white          : #fff;
$grey           : #777;
$black          : #222;

$red            : #d9534f;
$green          : #5cb85c;


/// Functionnal colors
$text-color     : $black;
$link-color     : $red;
$error-color    : $red;
$valid-color    : $green;

/// Fonts
$arial : Arial, sans-serif;
$font : $arial;

/// Fonts weight
/// They must reflect avalaible weights
$fw-light : 300;
$fw-regular : 400;
$fw-semibold : 500;
$fw-bold : 700;

/// Viewports sizes
/// They're used in media queries
$vw-thin:   320px;
$vw-small:  480px;
$vw-medium: 780px;
$vw-large:  1024px;
$vw-huge:   1200px;
