// # config: sizes, colors and fonts

// Max width of the slice ( the max background size exceeding the content size )
$slice-width  : 1400px;
// Used on browser not supporting mediaqueries
$base-width : 990px;

// Max size of the page
$max        : 1200;
$max-width   : $max * 1px;
$page-padding: 30;

// Gutter width for the grid system
$gutter     : 30px;

// # Colors
$white          : #fff;
$grey           : #444;
$black          : #333;

$red            : #bc2422;
$orange         : #d58f26;

$outline-blue    : #aad4ff;
$error-red       : #e04831;

// ## Colors variables
$link-color     : $red;

// # Fonts
$roboto : Arial, sans-serif;
$font : $roboto;

// # Fonts weight
$light : 300;
$regular : 400;
$medium : 500;
$bold : 700;
