////
/// Set the default page width and handle padding and sizes for smaller screens
///
/// @group Tools
/// @author Inouit
////
%page {
  margin: auto; padding: 0 $page-padding*1px; width: $max-width; max-width: 100%;

  @media screen and (max-width: $max-width+($page-padding*2px)) { margin-right: ($page-padding*1px); margin-left: ($page-padding*1px); width: auto; }
}
