////
/// Colors
///
/// @group Settings
///
////

/// Grey scale
$white: #fff;

$grey: #cecece;

$black: #303044;

// Transparent grey scale
$black-50: rgba($black, .5);

/// Utility colors
$red: #d9534f;
$green: #5cb85c;

/// Branding colors
$blue: #68bbdb;

$color-main: $blue;

/// Functionnal colors
$color-text: $black;
$color-link: $color-main;
$color-error: $red;
$color-valid: $green;
