/// Colors
$white          : #fff;
$grey           : #777;
$black          : #222;

$red            : #d9534f;
$green          : #5cb85c;

$blue           : #68bbdb;

$brand-color    : $blue;

/// Functionnal colors
$text-color     : $black;
$link-color     : $brand-color;
$error-color    : $red;
$valid-color    : $green;
