////
/// Fonts
///
/// @group Settings
///
////


/// Font fomily
$arial: Arial, sans-serif;
$font: $arial;

/// Fonts weight
/// They must reflect avalaible weights
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 500;
$fw-bold: 700;
