.column { @include column; }

// Preset columns sizes
$col80 : column-width(.80, .25);
$col75 : column-width(.75, .3333333333);
$col70 : column-width(.6666666666, .5);
$col60 : column-width(.60, .6666666666);
$col50 : column-width(.50, 1);
$col40 : column-width(.40, 1.5);
$col30 : column-width(.3333333333, 2);
$col25 : column-width(.25, 3);
$col20 : column-width(.20, 4);

// ## Columns classes
// Used width inline-block display mode, you'll need to use comments
// to remove white-space size between columns
/*
HTML columns :
    <div>
       <div class="column-50">
           <h1>50</h1>
       </div><!--
    --><div class="column-25">
           <h1>25</h1>
       </div><!--
    --><div class="column-25">
           <h1>25</h1>
       </div>
    </div>
*/
.column-80 { @include column; width: $col80; }
.column-75 { @include column; width: $col75; }
.column-70 { @include column; width: $col70; }
.column-60 { @include column; width: $col60; }
.column-50 { @include column; width: $col50; }
.column-40 { @include column; width: $col40; }
.column-30 { @include column; width: $col30; }
.column-25 { @include column; width: $col25; }
.column-20 { @include column; width: $col20; }