// default display mode and margins
.column { display: inline-block; margin: 0 0 0 $gutter; vertical-align: top;
    &:first-child { margin: 0; }
}

// preset columns
$col80 : column-width(.80, .25);
$col75 : column-width(.75, .3333333333);
$col70 : column-width(.6666666666, .5);
$col60 : column-width(.60, .6666666666);
$col50 : column-width(.50, 1);
$col40 : column-width(.40, 1.5);
$col30 : column-width(.3333333333, 2);
$col25 : column-width(.25, 3);
$col20 : column-width(.20, 4);

.column-80 { width: $col80; }
.column-75 { width: $col75; }
.column-70 { width: $col70; }
.column-60 { width: $col60; }
.column-50 { width: $col50; }
.column-40 { width: $col40; }
.column-30 { width: $col30; }
.column-25 { width: $col25; }
.column-20 { width: $col20; }

// DEBUG
.wrap {  margin: 1*$u 0; background-color: $orange; text-align: center; border-radius: 5px; overflow: hidden; }
.column { color: $grey; background-color: $black;
    h1 { margin:1*$u; }
}