/*********************************
************* Fonts **************
*********************************/

/*********************************
****** Globals Parameters ********
*********************************/
$max                : 900;
$maxWidth           : $max * 1px;
$u                  : 10px;
$gutter             : 30 / $max * 100%;

/* Font & Background Colors */
$white          : #FFFFFF;
$grey           : #444;
$black          : #333;

$red            : #c11c47;
$orange         : #D58F26;

$outlineBlue    : #aad4ff;
$errorRed       : #e04831;

/* Fonts */
$font   : Arial, sans-serif;