// Max width of the slice ( the max background size exceeding the content size )
$sliceWidth  : 1400px;

// Max size of the page
$max        : 1200;
$maxWidth   : $max * 1px;

// Margin and padding base unit
$u          : 10px;

// Gutter width for the grid system
$gutter     : 30 / $max * 100%;

// # Colors
$white          : #FFFFFF;
$grey           : #444;
$black          : #333;

$red            : #BC2422;
$orange         : #D58F26;

$outlineBlue    : #aad4ff;
$errorRed       : #e04831;

// # Fonts
$roboto : Arial, sans-serif;
$font : $roboto;

// # Fonts weight
$light : 300;
$regular : 400;
$medium : 500;
$bold : 700;