// # Global sizing
$max                : 1200;
$maxWidth           : $max * 1px;
$u                  : 10px;
$gutter             : 30 / $max * 100%;

// # Colors
$white          : #FFFFFF;
$grey           : #444;
$black          : #333;

$red            : #BC2422;
$orange         : #D58F26;

$outlineBlue    : #aad4ff;
$errorRed       : #e04831;

// # Fonts
$font   : Arial, sans-serif;