// # layout: the commun websites styles
// ( header/footer ) & template specific.

// ## Reset
// Reset font-size for easier use : 1.6em = 16px
html { font-size: 62.5%; line-height: 1.3em; }
body{ margin: 0; padding: 0; font-family: $font; font-size: 1em; color: $black;  font-weight: 300;}

// ## Links
button,
a { text-decoration: none; color: $red;
  img{ border: 0; }
  &:hover { text-decoration: underline; }
}

// Reset buttons
button { display: inline; margin:0; border: none; padding:0; cursor: pointer; background-color: transparent; outline: none;}

// ## Default margins
//  ### margin for default slice
.sliceWithMargin {  margin: $gutter 0; }

h1 { margin: 25px 0; }
h2 { margin: 25px 0; }
h3 { margin: 25px 0; }
h4 { margin: 20px 0; }
h5 { margin: 20px 0; }
.introduction { @extend .sliceWithMargin; }
p, p.bodytext, h6, .h6-like{ margin: 15px 0; }
td p, td p.bodytext{ margin: 0; }
ul{ @extend .sliceWithMargin;
  li{ margin: 5px 0; }
}

// ## Default Font size
p, li, td, th, textarea, caption, pre, blockquote, label, input, select, textarea { font-size: 1.4em; line-height: 1.7em; }
li li, li p, td p, th p, li h1, li .h1-like, li h2, li .h2-like, li h3, li .h3-like, li h4, li .h4-like, li h5, li .h5-like, li h6, li .h6-like, button { font-size: 100%; }
input, select, textarea { font-family: $font; }
h1, .h1-like , h2, .h2-like , h3, .h3-like , h4, .h4-like, h5, .h5-like { line-height: 1em; }
h1, .h1-like { font-size: 3.5em; }
h2, .h2-like, .important { font-size: 2.4em; }
h3, .h3-like { font-size: 1.9em; }
h4, .h4-like, .introduction { font-size: 1.7em; }
h5, .h5-like { font-size: 1.6em; }
h6, .h6-like { font-size: 1.4em; }

.h1-like { @extend h1; }
.h2-like { @extend h2; }
.h3-like { @extend h3; }
.h4-like { @extend h4; }
.h5-like { @extend h5; }
.h6-like { @extend h6; }

// ## Separator
hr { @extend .sliceWithMargin; border: none; height: 1px; background-color: $grey; }
hr.clear { clear: both;  height: 0px; }

// ## Text
body { color: $grey; }
// ### Alignment
.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }
.align-justify { text-align: justify; }

// # float reset
.clear { clear: both; }
