////
/// Import all files
/// Order do matter
///
/// @author Inouit
////

/// Functions, placeholders & configuration
@import 'utils/variables';
@import 'utils/functions';
@import 'utils/placeholders';
@import 'utils/mixins';

@import 'layout/reset';
@import 'layout/grid';
@import 'layout/global';
@import 'layout/forms';
@import 'layout/header';
@import 'layout/footer';

/// Components list
// @import 'components/';

/// Media based styles
@import 'layout/print';
