////
/// Import all files
/// Order do matter
///
/// @author Inouit
////

/// Settings
@import 'settings/colors';
@import 'settings/dimensions';
@import 'settings/fonts';

// Tools (helper, mixins and function)
@import 'tools/headings';
@import 'tools/horizontal-list';
@import 'tools/input';
@import 'tools/page';
@import 'tools/vertical-align-middle';

// Generic
@import 'generic/reset';

// Base
@import 'elements/blocks';
@import 'elements/forms';
@import 'elements/headings';
@import 'elements/layout';
@import 'elements/links';

// Objects
@import 'objects/alignements';
@import 'objects/forms';
@import 'objects/highlights';
@import 'objects/horizontal-list';
@import 'objects/page';

// Components

// Trumps
@import 'trumps/print';
