// # mediaqueries: responsive behavior

@media screen and (min-width: 0px) {
    //Apply max-width on image for browser capable of handling it
    .csc-textpic-imagewrap, img { max-width: 100%; height: auto;}
}

// 764px is the vertical iPad width, you should edit it to match the wanted layout breakpoint
@media screen and (max-width: 764px) {
    // Reset layout to one column
    .column { display: block; width: auto!important; margin: 0!important; }
}