// Set the default page width
@mixin page { margin: 0 auto; width: $baseWidth;
    @media screen and (min-width: 0px) { width: $maxWidth; max-width: 100%; }
    @media screen and (max-width: $maxWidth+(2*20px)) { width: auto; margin-left: 20px; margin-right: 20px;}
}
@mixin slice {
   margin: 0 auto;  width: 100%;
   @media screen and (min-width: $sliceWidth) { width: $sliceWidth; }
}

@mixin column { @include inline-block; margin: 0; vertical-align: top;
    & + &{ margin: 0 0 0 $gutter; }
}

// Preset navigation layout
@mixin nav {
    display: block; margin: 0; padding: 0;
    li { @include inline-block; margin: 5px; padding: 0; }
    li:hover {
        // Show second navigation level on hover
        .second { display: block;}
    }
    // Hide second navigation level
    .second { position: absolute; display: none;}
}

// inline block (overrided in IE)
@mixin inline-block { display: inline-block; }

// Emulate background sizing for Internet Explorer 8
@mixin background-size( $size... ) {
    background-size: $size;
    -ms-behavior: url(/backgroundsize.min.htc); // The url is relative to the document, not to the css file!
}

// font-familyy
@mixin ff ( $fontFamily: $font, $fontWeight: $regular ) {
    font-family: $fontFamily; font-weight: $fontWeight;
}
