// Set the default page width
@mixin page { margin: 0 auto; width: 990px;
    @media screen and (min-width: 0px) { width: $maxWidth; max-width: 100%; }
}

@mixin slice {
   margin: 0 auto;  width: 100%;
   @media screen and (min-width: $sliceWidth) { width: $sliceWidth; }
}

// Preset navigation layout
@mixin nav {
    display: block; margin: 0; padding: 0;
    li { display: inline-block; margin: 5px; padding: 0; }
    li:hover {
        // Show second navigation level on hover
        .second { display: block;}
    }
    // Hide second navigation level
    .second { position: absolute; display: none;}
}

// Emulate background sizing for Internet Explorer 8
@mixin backgound-size( $size... ) {
    background-size: $size;
    -ms-behavior: url(/backgroundsize.min.htc);
}

// inline block (overrided in IE)
@mixin inline-block { display: inline-block; }

// font-familyy
@mixin ff ( $fontFamily: $font, $fontWeight: $regular ) {
    font-family: $fontFamily; font-weight: $fontWeight;
}
