// # mixins: mixins & polyfill

// Set the default page width
@mixin page {
    margin: auto; padding: 0 $pagePadding*1px; width: $baseWidth;
    @media screen and (min-width: 0px) { width: $maxWidth; max-width: 100%; }
    @media screen and (max-width: $maxWidth+($pagePadding*2px)) { width: auto; margin-left: $pagePadding*1px; margin-right: $pagePadding*1px;}
}

// Preset navigation layout
@mixin nav {
    display: block; margin: 0; padding: 0;
    li { @include inline-block; margin: 5px; padding: 0; }
    li:hover {
        // Show second navigation level on hover
        .second { display: block;}
    }
    // Hide second navigation level
    .second { position: absolute; display: none;}
}

// inline block (overrided in IE)
@mixin inline-block { display: inline-block; }

// Emulate background sizing for Internet Explorer 8
@mixin background-size( $size... ) {
    background-size: $size;
    -ms-behavior: url(/backgroundsize.min.htc); // The url is relative to the document, not to the css file!
}

@mixin border-radius ($args: $defaultRadius) {
    border-radius         : $args;
    -webkit-border-radius : $args;
    -moz-border-radius    : $args;
}

@mixin text-shadow ($args: $defaultTextShadow) {
    text-shadow         : $args;
    -moz-text-shadow    : $args;
    -webkit-text-shadow : $args;
}


@mixin box-shadow ($args) {
    box-shadow         : $args;
    -moz-box-shadow    : $args;
    -webkit-box-shadow : $args;
}

@mixin vertical-align-middle {
    position: absolute; top: 0; bottom: 0; margin-top: auto; margin-bottom: auto;

    &.fixMyHeight { top: auto !important; bottom: auto !important; height: auto !important; }
}
