// Fix the default font size to 10px
// 1.6em = 16px
html { font-size: 62.5%; line-height: 1.3em; }
body{ margin: 0; padding: 0; font-family: $font; font-size: 1em; color: $black;  font-weight: 300;}

a {
    text-decoration: none;
    img{ border: 0; }
 }
 a:hover { text-decoration: underline; }