////
/// Forms
///
/// @group Elements
///
////

$type-list: tel email url search date time datetime month week number;
@each $type in $type-list {
  [type="#{$type}"] { @extend %input; }
}

/// Reset
input, select, textarea { font-family: $font; }
fieldset { margin: 0; border: none; padding: 0; }
select { width: auto; cursor: pointer; }

input, select, textarea, label { vertical-align: middle; }

select,
textarea { @extend %input; }

[type="submit"] { @extend %button; }
