////
/// Headings
///
/// @group Base
/// @author Inouit
////
h1 { @extend %h1; }
h2 { @extend %h2; }
h3 { @extend %h3; }
h4 { @extend %h4; }
h5 { @extend %h5; }
h6 { @extend %h6; }
h1, h2, h3, h4, h5, h6 { line-height: 1em; font-weight: $fw-bold; }
