#footer.footer
  .container.align-center
    #nav-footer.list-inline.nav-footer
      li.nav-item.nav-footer-item
        a.nav-link.nav-footer-link(href="https://github.com/dummy-team/dummy" target="_blank")
          = "Dummy Team"
      li.nav-item.nav-footer-item
        a.nav-link.nav-footer-link(href="https://dummy-team.github.io/dummy" target="_blank")
          = "Project home"
      li.nav-item.nav-footer-item
        a.nav-link.nav-footer-link(href="https://github.com/dummy-team/dummy" target="_blank")
          = "Github"
      li.nav-item.nav-footer-item
        a.nav-link.nav-footer-link(href="https://github.com/dummy-team/dummy/issues" target="_blank")
          = "Issues"
      li.nav-item.nav-footer-item
        a.nav-link.nav-footer-link(href="https://gitter.im/dummy-team/dummy" target="_blank")
          = "Gitter Room"
